@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin:0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}
body{
    display: flex;
}
#map{
    width: 70%;
    height: 100vh;
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom:0;
    width: 30%;
    padding: 0 1.5rem;
    color: #fff;
    overflow: hidden;


}
.logo img{
    width: 100%;
    
}
.sidebar hr{
    width: 100%;
    height: 2px;
    background-color: grey;
    
}

.main--table{
    width: 100%;
    border-collapse: collapse;
}
.main--table th, .main--table td {
   
    
    color: black;
}

.main--table th {
    background-color: #f2f2f2;
    
    
    
}
.device--heading{
    padding-left: 4.7rem;
    padding-right:4.7rem;

}
.meater--heading{
    padding-left: 1.8rem;
    padding-right: 1.8rem;

}
.char--line--heading{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    
}

.tile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-align: start;
    background-color: #f9f9f9;
    padding: 0.3rem;
    border-radius: 0.5rem;
}